header{
    text-align: center;
    justify-content: center;
    align-items: center;
}

body{
    text-align: center;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: left;
}

.img1 {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}